ai2thor==2.1.0
fasttext==0.9.2
future==0.18.2
gensim==3.8.3
gym==0.17.2
networkx==2.4
nltk==3.5
numpy==1.18.3
opencv-python==4.2.0.34
pandas==1.0.3
seaborn==0.11.0
spacy==2.3.2
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorboardX==1.8
torch==1.6.0
torch-cluster==1.5.7
torch-geometric==1.6.1
torch-scatter==2.0.5
torch-sparse==0.6.7
torch-spline-conv==1.2.0
torchtext==0.7.0
torchvision==0.7.0
tqdm==4.46.0
